node_modules
dist
build
.git
.github
.vscode
.idea
*.log
backend/target
nexusarchive-java/target/*.log
nexusarchive-java/target/classes
nexusarchive-java/target/generated-sources
nexusarchive-java/target/maven-archiver
nexusarchive-java/target/maven-status
docker-compose.yml
docker-compose.dev.yml
Dockerfile
Dockerfile.frontend
.env
.env.*
!.env.example
