<?xml version="1.0" encoding="UTF-8"?>
<!-- Input: Checkstyle 规则定义 -->
<!-- Output: Java 代码风格与禁令 -->
<!-- Pos: NexusCore 代码质量 -->
<!-- 一旦我被更新，务必更新我的开头注释，以及所属的文件夹的 md。 -->
<!DOCTYPE module PUBLIC
    "-//Checkstyle//DTD Checkstyle Configuration 1.3//EN"
    "https://checkstyle.org/dtds/configuration_1_3.dtd">
<module name="Checker">
    <property name="charset" value="UTF-8"/>
    <module name="FileTabCharacter"/>
    <module name="NewlineAtEndOfFile"/>
    <module name="LineLength">
        <property name="max" value="120"/>
        <property name="ignorePattern" value="^(package|import).*"/>
    </module>
    <module name="TreeWalker">
        <module name="RegexpSinglelineJava">
            <property name="format" value="&quot;[^\r\n]*\b(select|insert|update|delete|merge)\b[^\r\n]*(\bfrom\b|\binto\b|\bset\b)[^\r\n]*&quot;"/>
            <property name="message" value="禁止在 Java 中硬编码 SQL，请使用 XML Mapper 或适配层。"/>
            <property name="ignoreCase" value="true"/>
        </module>
        <module name="RegexpSinglelineJava">
            <property name="format" value="@\s*(Select|Update|Insert|Delete)\s*\("/>
            <property name="message" value="禁止使用注解内联 SQL，请使用 XML Mapper。"/>
        </module>
        <module name="UnusedImports"/>
        <module name="AvoidStarImport"/>
        <module name="NeedBraces"/>
        <module name="EmptyBlock">
            <property name="option" value="TEXT"/>
        </module>
    </module>
</module>
